$black: #000;
$white: #ffffff;
$dark:rgb(47, 47, 47);
$font-color:#555;
$font-color-light:#777;
$background-color:#f6f5f5;
$color-green: #94c8d6;
$color-green2: #3b8296;
$color-standard: #2c788d;
$color-standard2: #2b798f;
$background-color2:#d3dbee;
$icons-bg: #eeedf2;
$services-gallery-bg:#f5f5f5;

p{
    letter-spacing: 1px;
}

@mixin h2-title {
    font-size: 2.5rem;
    display: inline-block;
    color: $font-color;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 2.5rem;
    letter-spacing: 1px;
}
@mixin h2-title-responsive{
    font-size: 1.9rem;
}
@mixin h3-title {
    font-size: 1rem;
    color: $font-color;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 2.2rem;
    letter-spacing: 1px;
}

@mixin p-description {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.02rem;
    line-height: 1.8rem;
    color: $font-color;
}

@mixin button {
    display: inline-block;
    color: white;
    border: none;
    background-color: $color-standard2;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    cursor: pointer;
    transition: .1s linear;
    border: 1px solid rgba(16, 123, 128, .2);
    user-select: none;
}

@mixin buttonHover {
    background-color: $color-green2;
}

@mixin header{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

@mixin navShadow{
    -webkit-box-shadow: 0px 6px 6px -5px rgba(0,0,0,0.5); 
    box-shadow: 0px 6px 6px -5px rgba(0,0,0,0.5);
}

@mixin cardShadow{
    -webkit-box-shadow: -1px 6px 10px -2px rgba(0,0,0,0.15); 
    box-shadow: -1px 6px 10px -2px rgba(0,0,0,0.15);
}
